name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
           gradle-version: wrapper

      - name: Build Android App
        run: ./gradlew :androidApp:assembleDebug

      - name: Build Shared Module (Wasm & JVM)
        run: ./gradlew :shared:assemble

      - name: Build Web App (Wasm)
        run: ./gradlew :shared:wasmJsBrowserDistribution

      - name: Run Tests (JVM)
        run: ./gradlew :shared:jvmTest
